<div>
    <h3>待办事项练习-todoList</h3>
    <p>
        <span>待办名称:</span>
        <input [(ngModel)]="content" type="text" placeholder="请输入...">
        <button (click)="toAdd()">添加</button>
    </p>
    <p *ngIf="todoList.length==0">没有待办事项,去添加一些吧...</p>
    <ul>
        <li *ngFor="let item of todoList;index as i">{{item}} <button (click)="deleteList(item)">删除</button></li>
    </ul>
</div>
<hr>
<nz-range-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker> 
<div>
    <p><span>开始时间:</span>{{date[0]}}</p>
    <p><span>结束时间:</span>{{date[1]}}</p>
</div>
